<div ng-controller="DrawingCtrl as vm">
      <div class="ng-hide" ng-show="vm.drawing.enabled">
        <div class="drawing">
          <div class="surrounding-plots" ng-click="vm.cancel()">
            <div id="drawing-xminus1-yminus1">
              <canvas fabric="vm.surroundingPlots.xminus1yminus1.display" name="xminus1yminus1" static="true"></canvas>
            </div>
            <div id="drawing-xminus1">
              <canvas fabric="vm.surroundingPlots.xminus1.display" name="xminus1" static="true"></canvas>
            </div>
            <!--<div id="drawing-xminus1-yplus1">
              <canvas fabric="vm.surroundingPlots.xminus1yplus1.display" name="xminus1yplus1" static="true"></canvas>
            </div>-->
            <div id="drawing-yminus1">
              <canvas fabric="vm.surroundingPlots.yminus1.display" name="yminus1" static="true"></canvas>
            </div>
            <div id="drawing-xplus1-yminus1">
              <canvas fabric="vm.surroundingPlots.xplus1yminus1.display" name="xplus1yminus1" static="true"></canvas>
            </div>
            <div id="drawing-xplus1">
              <canvas fabric="vm.surroundingPlots.xplus1.display" name="xplus1" static="true"></canvas>
            </div>
            <div id="drawing-yplus1">
              <canvas fabric="vm.surroundingPlots.yplus1.display" name="yplus1" static="true"></canvas>
            </div>
            <div id="drawing-xplus1-yplus1">
              <canvas fabric="vm.surroundingPlots.xplus1yplus1.display" name="xplus1yplus1" static="true"></canvas>
            </div>
          </div>
          <div class="drawing-container">
            <canvas fabric="vm.drawing" name="drawing"></canvas>
          </div>
        </div>

        <div id="drawing-controls" class="drawing">
          <button id="save-drawing" class="btn btn-sm btn-info" ng-click="vm.save()">Save</button>
          <div id="drawing-mode-options" ng-show="vm.showDrawingOptions">
            <button id="clear-canvas" class="btn btn-sm btn-info" ng-click="vm.clear()">Clear</button>
            <label for="drawing-mode-selector">Mode:</label>
            <select id="drawing-mode-selector" ng-model="vm.brush.type" ng-change="vm.updateBrush()">
              <option value="Pencil">Pencil</option>
              <option value="Circle">Circle</option>
              <option value="Spray">Spray</option>
            </select>
            <br>

            <label for="drawing-line-width">Line width:</label>
            <span class="info">30</span>
            <input type="range" value="30" min="0" max="150" id="drawing-line-width" ng-model="vm.brush.size" ng-change="vm.updateBrush()">
            <br>

            <label for="drawing-color">Line color:</label>
            <input type="color" id="drawing-color" ng-model="vm.brush.color" ng-change="vm.updateBrush()">
            <br>

          </div>
        </div>
      </div>
    </div>