<html>

<head>
  <link rel="stylesheet" href="app.css">

</head>

<body>
  <div ng-app="murinal">
    <div ng-controller="MurinalGridCtrl as vm">
      <canvas fabric="vm.murinal" name="murinal"></canvas>
    </div>
    <div ng-controller="DrawingCtrl as vm">
      <div class="ng-hide" ng-show="vm.drawing.enabled">
        <div class="drawing">
          <div class="surrounding-plots" ng-click="vm.cancel()">
            <div id="drawing-xminus1-yminus1">
              <canvas fabric="vm.surroundingPlots.xminus1yminus1.display" name="xminus1yminus1" static="true"></canvas>
            </div>
            <div id="drawing-xminus1">
              <canvas fabric="vm.surroundingPlots.xminus1.display" name="xminus1" static="true"></canvas>
            </div>
            <!--<div id="drawing-xminus1-yplus1">
              <canvas fabric="vm.surroundingPlots.xminus1yplus1.display" name="xminus1yplus1" static="true"></canvas>
            </div>-->
            <div id="drawing-yminus1">
              <canvas fabric="vm.surroundingPlots.yminus1.display" name="yminus1" static="true"></canvas>
            </div>
            <div id="drawing-xplus1-yminus1">
              <canvas fabric="vm.surroundingPlots.xplus1yminus1.display" name="xplus1yminus1" static="true"></canvas>
            </div>
            <div id="drawing-xplus1">
              <canvas fabric="vm.surroundingPlots.xplus1.display" name="xplus1" static="true"></canvas>
            </div>
            <div id="drawing-yplus1">
              <canvas fabric="vm.surroundingPlots.yplus1.display" name="yplus1" static="true"></canvas>
            </div>
            <div id="drawing-xplus1-yplus1">
              <canvas fabric="vm.surroundingPlots.xplus1yplus1.display" name="xplus1yplus1" static="true"></canvas>
            </div>
          </div>
          <div class="drawing-container">
            <canvas fabric="vm.drawing" name="drawing"></canvas>
          </div>
        </div>

        <div id="drawing-controls" class="drawing">
          <button id="drawing-mode" class="btn btn-info" ng-click="vm.toggleDrawingMode()">{{vm.drawingModeBtnTxt}}</button>
          <button id="save-drawing" class="btn btn-info" ng-click="vm.save()">Save</button>
          <div id="drawing-mode-options" ng-show="vm.showDrawingOptions">
            <button id="clear-canvas" class="btn btn-info" ng-click="vm.clear()">Clear</button>
            <label for="drawing-mode-selector">Mode:</label>
            <select id="drawing-mode-selector" ng-model="vm.brush.type" ng-change="vm.updateBrush()">
              <option value="Pencil">Pencil</option>
              <option value="Circle">Circle</option>
              <option value="Spray">Spray</option>
            </select>
            <br>

            <label for="drawing-line-width">Line width:</label>
            <span class="info">30</span>
            <input type="range" value="30" min="0" max="150" id="drawing-line-width" ng-model="vm.brush.size" ng-change="vm.updateBrush()">
            <br>

            <label for="drawing-color">Line color:</label>
            <input type="color" id="drawing-color" ng-model="vm.brush.color" ng-change="vm.updateBrush()">
            <br>

          </div>
        </div>
      </div>
    </div>
  </div>
</body>


<script src="bower_components/fabric.js/dist/fabric.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-fabric-lite/fabricCanvas.js"></script>
<script src="bower_components/angular-fabric-lite/fabricConstants.js"></script>
<script src="bower_components/angular-fabric-lite/fabricDirective.js"></script>
<script src="bower_components/angular-fabric-lite/fabricDirtyStatus.js"></script>
<script src="bower_components/angular-fabric-lite/fabricUtilities.js"></script>
<script src="bower_components/angular-fabric-lite/fabricWindow.js"></script>
<script src="bower_components/jquery/dist/jquery.min.js"></script>

<script src="app.js"></script>
<script src="murinalgridctrl.js"></script>
<script src="drawingctrl.js"></script>
<script src="plotsSvc.js"></script>
<script src="imagesSvc.js"></script>
<script src="plotdataSvc.js"></script>-->

</html>