<html>

<head>
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="bower_components/ngToast/dist/ngToast-animations.min.css">
  <link rel="stylesheet" href="bower_components/ngToast/dist/ngToast.min.css">
  <link rel="stylesheet" href="app.css">

</head>

<body>
  <div ng-app="murinal">
    <toast></toast>
    <div ng-controller="MurinalGridCtrl as vm">
      <canvas fabric="vm.murinal" name="murinal"></canvas>
    </div>
    <div ng-include src="'drawing.html'"></div>
    <div ui-view></div>
    <div class="pull-right" ng-controller="NavCtrl as vm">
      <div>
        <div ng-hide="vm.auth && vm.auth.auth.provider != 'anonymous'">
          <label>Login via:</label>
          <!--<a href="#" class="btn btn-info bt-social" ng-click="vm.auth('facebook')">Facebook</a>-->
          <a href="#" class="btn btn-info bt-social" ng-click="vm.login('twitter')">Twitter</a>
          <a href="#" class="btn btn-info bt-social" ng-click="vm.login('google')">Google</a>
        </div>
        <div ng-show="vm.auth && vm.auth.auth.provider != 'anonymous' && vm.userData.balance && vm.userData.balance > 0">
          <div class="alert alert-info">Leave your mark. You have <strong>{{vm.userData.balance}} points</strong> left, so go nuts.</div>
        </div>
      </div>
    </div>
  </div>
</body>


<script src="bower_components/fabric.js/dist/fabric.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-fabric-lite/assets/fabricCanvas.js"></script>
<script src="bower_components/angular-fabric-lite/assets/fabricConstants.js"></script>
<script src="bower_components/angular-fabric-lite/assets/fabricDirective.js"></script>
<script src="bower_components/angular-fabric-lite/assets/fabricDirtyStatus.js"></script>
<script src="bower_components/angular-fabric-lite/assets/fabricUtilities.js"></script>
<script src="bower_components/angular-fabric-lite/assets/fabricWindow.js"></script>
<script src="bower_components/firebase/firebase.js"></script>
<script src="bower_components/angularfire/dist/angularfire.js"></script>
<script src="bower_components/angular-animate/angular-animate.min.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.min.js"></script>
<script src="bower_components/ngToast/dist/ngToast.min.js"></script>
<script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
<script src="bower_components/pixelated-fabric/src/pixelated-fabric.js"></script>

<script src="app.js"></script>
<script src="murinalgridctrl.js"></script>
<script src="drawingctrl.js"></script>
<script src="plotsSvc.js"></script>
<script src="imagesSvc.js"></script>
<script src="plotdataSvc.js"></script>
<script src="murinalfirebase.js"></script>
<script src="authSvc.js"></script>
<script src="navctrl.js"></script>
<script src="plotdetailsctrl.js"></script>
<script src="userdataSvc.js"></script>
<script src="purchaseSvc.js"></script>

</html>
